<footer>
    <div class="footer-content flex justify-content-around align-items-center p-4 bg-dark text-white mt-4">
        <div>
            <h1>About</h1>
            <p>Aquarium Central is an exciting Aquarium store conveniently located just off the highway at Kunda Park on 
                the Sunshine Coast QLD. We have the largest range of freshwater aquarium fish around. 
                From the most rare and exotic species to top quality and competively priced everyday 
                favourites, come in and browse or shop online.
                 Browse our huge range of drygoods in our large 350sqm retail shop or on our website.
                  There is something to suit every fish keeper from the first timer to the most experienced 
                  enthusiast or breeder at a price you'll find hard to beat.</p>
        </div>
        <div>
            <h1>Contact</h1>
            <p> +261 32 77 531 69</p>
            <p>contact@aquatiako.shop</p>
        </div>
        <hr>
        <div>
            <h1>Follow Us</h1>
            <p>Facebook: Aquarium Central</p>
    </div>
</footer>
