{% extends 'backend/layout/base.html' %}

{% block content %}
<h1>Product Subcategories</h1>
<hr>
<div class="d-flex justify-content-between">
    <p>Select product subcategory to change</p>
    <a href="{% url 'add_product_sub_categ' %}">
    <button type="submit" class="btn-classic btn-sm">
        <i class="fa-solid fa-plus"></i> Add Product Subcategory
    </button>
    </a>
</div>


<table class="mt-2">
    <thead>
        <tr>
            <th>Product Category</th>
            <th>Actions</th> </tr>
    </thead>
    <tbody>
        {% for subcategory in subcategories %}
        <tr>
            <td>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="category1-check">
                    <label class="form-check-label" for="category1-check">
                        {{ subcategory.name }}
                    </label>
                </div>
            </td>
            <td>
                <a href="{% url 'edit_subcategory' subcategory.id %}" type="button" class="btn-classic-action **btn-edit**">Edit</a>
                <form method="post" action="{% url 'delete_subcategory' subcategory.id %}" style="display:inline;">
    {% csrf_token %}
    <button type="submit" class="btn-classic-action btn-delete" 
            onclick="return confirm('Confirm deletion of subcategory: {{ subcategory.name }}?');">
        Delete
    </button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}